    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1><img src='img/Codev_3600x3600.png' alt='logo' width='50' height='50' /></h1>
                        <h1 class="brand-heading"><strong>C</strong>odev <strong>S</strong>oftware</h1>
                        <p class="intro-text">
                            Web and Mobile Applications<br/>
                            Database Development<br/>
                            Azure Cloud Development<br/>
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
