    <!-- Download Section -->
    <section id="portfolio" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>See the Sights</h2>
                    <p>Here are some actual sites where Codev was instramental in building:</p>
                    <a href="https://cbhhomes.com" class="btn btn-default btn-lg">CBH Homes</a>
                    <a href="https://simplotfoods.com" class="btn btn-default btn-lg">Simplot Foods</a>
                    <br/><br/>
                    <p>Here is a solution currently being developed:</p>
                    <a href="https://test.timecog.com" class="btn btn-default btn-lg">TimeCog (Alpha)</a>
                </div>
            </div>
        </div>
    </section>
