    <!-- Download Section -->
    <section id="portfolio" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>See the Sights</h2>
                    <p>Here are some sites where Codev was instramental/lead in developing for clients:</p>
                    <span><a href="https://cbhhomes.com" class="btn btn-default btn-lg">CBH Homes</a>&nbsp;
                    <a href="https://simplotfoods.com" class="btn btn-default btn-lg">Simplot Foods</a></span>
                    <br/><br/>
                    <p>Codev Applications:</p>
                    <a href="https://timecog.com" class="btn btn-default btn-lg" target="_blank">TimeCog</a>
                </div>
            </div>
        </div>
    </section>
